body{
    background-color: rgb(203, 203, 223);
}

.color1{
    background: orange;
}

.color2{
    background: grey;
}

.color3{
    background: rgb(228, 215, 215);
}

.encabezado{
    background:white;
}
.m{
    margin-top: 3px;
    background: burlywood;
}
